
html {
    font-family: "Lucida Sans", sans-serif;

}
header {
    text-align: center;
    margin: auto;
}
header img {
    display:inline-block;
    margin-left: auto;
    margin-right: auto;
}
.nav a {
    display: block;
}
.footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}

.blog {
    padding: 0;
}
#post {
    padding: 10px;
    background-color: white;
    overflow: hidden;
}
#post a {
    text-decoration: none;
    color: inherit;
}
#post:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0;

}
#postInfo {
    font-size: small;
    font-style: italic;
}
#postEndLine {
    border-bottom: dotted 1px;
}