#adminTools {

}

.adminButton {
    width: 100%;
    border: none;
    padding: 5px;
    text-align: left;

}
#adminNav {
    padding-left: 0;
}

#adminNav li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style: none;
    text-decoration: none;

}
.stats {
    padding-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 23%;
    display: inline-block;
    border-bottom: groove thick #464646;
}

#adminTools input {
    border: 1px solid #999999;
    border-bottom-color: #cccccc;
    border-right-color: #cccccc;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    margin: 2px;
}


/*----------- Network Dropdown List ----------------*/
.select {
    position: relative;
    background: #464646;
    margin: auto;
    width: 90px;

}

select {
    padding: 2px;
    margin: 0;
    /*-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    color: #1ABB9C;
    background: #464646;
    border: 1px solid #000;
    border-radius: 2px;

}
table {
    width:98%;
    text-align:left;
    border:1px solid #DDDDDD;
    font-size:12px;
    color:#000;
    background:#fff;
    margin-bottom:10px;
}
table th {
    background-color:#E5E5E5;
    border:1px solid #BBBBBB;
    padding:3px 6px;
    font-weight:normal;
    color:#000;
}
table tr td {
    border:1px solid #DDDDDD;
    padding:5px 6px;
}
table tr.alt td {
    background-color:#E2E2E2;
}
table tr:hover {
    background-color:#F0F0F0;
    color:#000;
}


/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin-top: 12px;
}
.imgcontainer h3 {
    margin: 0;
}
/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 5px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}
